h2{
    text-decoration: underline;
    color:#7a0800;
}

body{
    margin: 0;
}

.paragraph{
    margin: 5px;
    font-size: 14px;
    font-family: arial;
    color: #395a3c;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px dashed #f44336;
}
.paragraph-blue{   
    color: #1f63a0;
    border-color: #05436a;
}

.row{
    height: 40px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background: #0f67a7;
}

#dropdown{
    display: inline-block;
    height: inherit;
    cursor: pointer;
    line-height: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    background: #0c284a;
    color: white;
    width: 80px;
    text-align: center;
}

.dropdown-content {  
    display: none;
    position: relative;
    background-color: #1f3e68;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
    z-index: 1;    
  }

  #dropdown .dropdown-item:hover{
    background-color: rgb(15, 40, 73);
  }
  #dropdown:hover .dropdown-content {
    display: block;
  }

  #dropdown ul{
    padding: 0;
    margin: 0;
  }
  #dropdown li{
    font-weight: normal;
    list-style-type: none;
    background: #174878;
  }

  .center-menu{
    text-align: center;
  }

  .rtl-menu{
    text-align: right;
  }

  .rtl-menu .dropdown-content{
    float: right;
  }

  .dropdown-content a{
    text-decoration: none;
    color: inherit;
  }

  .row.header{
    position: fixed;
    top: 0;
  }

  .title{
    padding-top: 10px;
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
    font-weight: bold;
  }

  .img-container{
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    border: 1px solid black;
    border-radius: 7px;    
    max-width:300px;
    max-height:300px;
  }

  .gallery img{
    object-fit: cover;
    width: 150px;
    height: 150px;
  }

  .gallery img:hover{
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  .image-profile{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .table-cell{
    font-size: 14px;
    font-family: arial;
    color: gray;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid grey;
  }

  .table-header{
    text-align: center;
    font-weight: bold;
   background: rgb(161, 161, 161);
   color: white;
  }

  #user-welcome{
    display: inline;
    float: right;
    color: white;
    padding: 3px;
    font-weight: bold;
  }